@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 95vh;
}
#main{
    width: 100vw;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: pink;
}
#mid{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
h1{
    font-family: 'Delicious Handrawn', cursive;
    font-size: 50px;
    line-height: 50px;
    color: pink;
}
#triangle{
    border-top: 120px solid transparent;
    border-bottom: 120px solid transparent;
    border-left: 120px solid white;
    border-radius: 200px;
}
#gurvaljin{
    border-top: 120px transparent solid;
    border-bottom: 120px transparent solid;
    border-right: 120px solid white;
    border-radius: 200px;
}
#contacts{
    width: 100vw;
    height: 5vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
p{
    color: white;
    font-family: 'Zeyada', cursive;
    font-size: 30px;
}
.icon{
    width: 200px;
    height: auto;
    margin: 50px;
    transition: 1s;
}
.icon:hover{
    background-color: rgb(255, 231, 235);
    box-shadow: 0 10px 15px #afe0f5;
}