@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: pink;
}
#products{
    background-color: pink;
    display: flex;

}
.product{
    width:  200px;
    height: 300px;
}
.productImage{
    width: 100px;
    height: auto;
}
.title{
    color: green;
    font-size: 30px;
}
#price{
    color: red;
}